<div class="container py-5 my-5">
  <div class="container card" style="max-width: 600px;">
    <div class="card-body">

      <p class="h2 card-title">
        <%= user.firstName + ' ' + user.lastName %>
      </p>

      <p class="lead">Email: <%= user.email %>
      </p>

    </div>
  </div>
</div>